@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage your time effiecienty with TaskManagement!</p>
</div>
<a href ="/User">User</a><br/>
<a href="/Admin">Admin</a>
<br />
<a href="/Manager">Manager</a>
<br />

