@page
@model TaskManagementSolution.Pages.BasicUser.EditTaskListModel
@{
}
<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Edit Task</h2>
        @if (Model.errorMessage != string.Empty)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (@Model.tlDto.StatusReason == Models.Enums.StatusReason.Completed)
        {
            <form method="post" enctype="multipart/form-data">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input readonly class="form-control" asp-for="tlDto.Name">
                        <span asp-validation-for="tlDto.Name" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                        <textarea readonly class="form-control" asp-for="tlDto.Description"></textarea>
                        <span asp-validation-for="tlDto.Description" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Estimate</label>
                    <div class="col-sm-8">
                        <input readonly class="form-control" type="number" step=".01" min="0" asp-for="tlDto.Estimate">
                        <span asp-validation-for="tlDto.Estimate" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">DueDate</label>
                    <div class="col-sm-8">
                        <input readonly class="form-control" type="date" asp-for="tlDto.DueDate">
                        <span asp-validation-for="tlDto.DueDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Status </label>
                    <div class="col-sm-8">
                        <input readonly class="form-control" asp-for="tlDto.StatusReason"></input>
                        <span asp-validation-for="tlDto.StatusReason" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-sm-4 d-grid">
                        <a class="btn btn-outline-primary" href="/BasicUser/ViewTaskList" role="button">Cancel</a>
                    </div>
                </div>
            </form>
        }
        else
        {
            <form method="post" enctype="multipart/form-data">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="tlDto.Name">
                        <span asp-validation-for="tlDto.Name" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" asp-for="tlDto.Description"></textarea>
                        <span asp-validation-for="tlDto.Description" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Estimate</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" step=".01" min="0" asp-for="tlDto.Estimate">
                        <span asp-validation-for="tlDto.Estimate" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">DueDate</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="date" asp-for="tlDto.DueDate">
                        <span asp-validation-for="tlDto.DueDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Status </label>
                    <div class="col-sm-8">
                        <select class="form-control" asp-for="tlDto.StatusReason" asp-items="Model.statusreason"></select>
                        <span asp-validation-for="tlDto.StatusReason" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-sm-4 d-grid">
                        <a class="btn btn-outline-primary" href="/BasicUser/ViewTaskList" role="button">Cancel</a>
                    </div>
                </div>
            </form>
        }

    </div>
</div>